#root {
    height: 100vh;
}


.leaflet-container {
    height: 70vh;
    width: 100vh;
}

.total-energy-use {
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 5px; 
}
  