#root {
    height: 100vh;
}


.leaflet-container {
   
    height: 80vh;
    width: 160vh;
}

.total-energy-use {
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 5px; 
}

.map-and-list-container {
  display: flex;
  justify-content: space-between;
}

.power-plants-statistics {
  flex: 1;
  padding-top: 50px; /* Adjust as needed */
  margin: 10;
  list-style-type: none;
}

/* Optional: Add some padding and margins for better spacing */
.map-container {
  flex: 1;
  padding: 10px; /* Adjust as needed */
  margin: 0;
  list-style-type: none;  
}

.weatherData {
  font-size: 18px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 5px; 
}